[defaults]
inventory = inventory
roles_path = roles
interpreter_python = auto_silent
local_tmp = /tmp/ansible-local
retry_files_enabled = False
host_key_checking = True

[ssh_connection]
pipelining = True
